
<div class="card text-bg-light mb-3 text-center" style="max-width: 18rem; display: inline">
  <div class="card-header">New Job</div>
  <div class="card-body">
    <p class="card-text"><%= render "form", job: @job %></p>
    <%= link_to "Back to jobs", jobs_path %>
  </div>
</div>
